table{
    border: 2px solid black; 
    margin: auto
}

tb{
     text-align: center
}

form{
    text-align: center;
    font-size: 30px;

}

ol{
    text-align: center
}

nav{
    background: #ff6347;
}

#page1{
    align-content: center;
	height: auto; 
	text-align: center;
	font-size: 25px;
	background: #DC143C;
}

#page2{
	background: #ff6347;
}

#page3{
	background: #ff6347;
}

#pages{
	display:flex;
}

header{
    height: 300px;
background: linear-gradient(90deg, #8B4513, #FFD700);
}

footer {
    height: 200px;
    background: url(HarrierDuBois3.2.jpg);
}

.chet{
    background-color: Gold;
}
.nechet{
    background-color: DimGray;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    background: #FF6347;
    
}

#testall{
	display: flex;
}
